


/*Progress Bar*/
.progress-bar-container{
  height: 25px;
  width: 100%;
  background-color: #e0e0de;
  border: 1px solid black;
  border-radius: 50px;  
}

.progress-bar-back{
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}